<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IStrategyDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.Strategy">
        <id column="id" property="id"/>
<!--        <result column="create_time" property="createTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
<!--        已经开启驼峰命名不需要了-->
    </resultMap>

<!--    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.Award">-->
<!--        INSERT INTO table(a,b,c) VALUES(#{a}, #{b}, #{c})-->
<!--    </insert>-->

<!--    <update id="update" parameterType="cn.bugstack.infrastructure.persistent.po.Award">-->
<!--        UPDATE table SET a = #{a} WHERE b = #{b}-->
<!--    </update>-->

    <select id="queryStrategyList" resultMap="dataMap">
        select strategy_id
        from big_market.strategy
        limit 10
    </select>
    <select id="queryStrategyListById" parameterType="java.lang.Long" resultMap="dataMap">
        select strategy_id,strategy_desc,rule_models
        from big_market.strategy
        where strategy_id=#{strategyId}
    </select>

</mapper>
